tr td {
    transition: all 0.2s ease-in-out;
}

tr.available td {
    color: #00a104;
}

tr.unavailable td {
    color: #d82a0b;
}

button.button.button-outline.available {
    color: #00a104;
    border-color: #00a104;
}

button.button.button-outline.unavailable {
    color: #d82a0b;
    border-color: #d82a0b;
}
button.button.button-outline:focus,
button.button.button-outline:hover {
    color: #9b4dca;
    border-color: #9b4dca;
}
